<!DOCTYPE html>
<html>
  <head>
    <title>RebengeCpt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
      <header>
        <nav>
          <div>
            <%= link_to 'revenge cpt', root_path %>
          </div>
          <div class="top-nav-box">
            <ul class="top-nav-content">
              <% if current_user %>
                <li><%= link_to '使い方', helps_path %></li>
                <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
              <% elsif %>
                <li><%= link_to 'githubeでログイン', '/auth/github', method: :post %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <% if current_user %>
        <%= yield %>
      <% else %>
      <% end %>
  </body>
</html>
